/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */
#map {
  height: 550px;
  width: 100%;
}

address {
  font-style: normal;
}

h3 {
  text-transform: uppercase;
}
h3 .fa-stack {
  font-size: 1.5rem;
}

h4 .fa-stack {
  font-size: 1.5rem;
}

.informations {
  padding-left: 54px;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */
/* ==========================================================================
        LARGE SCREEN
========================================================================== */
