@import url("https://fonts.googleapis.com/css?family=Roboto|Arsenal|PT+Serif");
/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */
body {
  font-family: "Roboto", "Arsenal", Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
  background-color: #E4E4E4;
  color: #0a0a0a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif","Roboto", "Arsenal", Arial, sans-serif !important;
}

.page-title h1 {
  font-size: 2.5rem;
  padding-bottom: 20px;
  text-align: center;
}
.page-title h1 span {
  border-bottom: 2px solid #1779ba;
}

.fa-padding {
  padding-right: 10px !important;
}

.main-title {
  margin: 13px 0;
}

.content {
  background-color: #F2F2F2;
  padding: 15px 0;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */
@media print, screen and (min-width: 40em) {
  .main-title {
    margin: 0 0 13px 0;
  }
}
/* ==========================================================================
        LARGE SCREEN
========================================================================== */
