@import url("https://fonts.googleapis.com/css?family=Roboto|Arsenal|PT+Serif");
/*$particulier:  #0b00e6;
$professionnels: #ce0037;
$entreprise: #004f24;
$patrimoine: #3b038a;*/
/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */
body {
  font-family: "Roboto", "Arsenal", Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */
/* ==========================================================================
        LARGE SCREEN
========================================================================== */
