/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */
.devis-image-block {
  position: relative;
}

.devis-text-block {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px 7px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #002F6C;
  height: 150px;
  width: 150px;
  z-index: 99999;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */
/* ==========================================================================
        LARGE SCREEN
========================================================================== */
