/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */
.devis-image-block {
  position: relative;
}

.devis-text-block {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px 7px;
  background-color: rgba(255, 255, 255, 0.85);
  color: #002F6C;
  height: 150px;
  width: 150px;
  z-index: 99999;
}

.callout {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari et Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */
/* ==========================================================================
        LARGE SCREEN
========================================================================== */
