/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */
footer {
  text-align: center;
  background: #54585a;
  padding: 24px 10px;
  margin-top: 30px;
}
footer .copyright {
  font-size: 0.75rem;
  color: #a1a3a4;
  margin: 6px 0 0;
}
footer .footer__social-links {
  float: none;
  display: inline-block;
  margin: 10px 0;
}
footer .footer__social-links li {
  list-style: none;
  float: left;
  margin-left: 10px;
}
footer .footer__social-links li a {
  color: #a1a3a4;
}
footer .footer__social-links li a .fa-inverse {
  color: #54585a;
}
footer .footer__social-links li a:hover {
  opacity: 0.8;
}
footer .footer__vha-links {
  display: inline-block;
  padding-bottom: 0;
  margin: 10px 0 0 0;
}
footer .footer__vha-links li {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  margin-bottom: 15px;
}
footer .footer__vha-links li a {
  color: #a1a3a4;
  padding: 3px 6px;
}
footer .footer__vha-links li a:hover {
  color: #777;
}
footer .footer__phoneNumber {
  color: #a1a3a4;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  height: 35px !important;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer .footer__phoneNumber li {
  list-style: none;
  margin-left: 10px;
}
footer .footer__phoneNumber li a {
  color: #a1a3a4;
}
footer .footer__phoneNumber li a .fa-inverse {
  color: #54585a;
}
footer .footer__phoneNumber li a:hover {
  opacity: 0.8;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */
@media print, screen and (min-width: 40em) {
  footer {
    text-align: left;
    padding: 24px;
  }
  footer .footer__social-links {
    display: block;
    float: right;
    margin-bottom: 8px;
  }
  footer .footer__social-links li a {
    font-size: 1.2rem;
  }
  footer .footer__vha-links li {
    display: block;
    float: left;
    margin-left: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
  }
  footer .footer__vha-links li:first-child {
    margin-left: 0;
  }
  footer .footer__phoneNumber {
    border-top: none;
    border-bottom: none;
    border-left: solid 1px rgba(255, 255, 255, 0.2);
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    margin-right: auto;
    display: block;
  }
  footer .footer__phoneNumber li a {
    font-size: 1.2rem;
  }
}
/* ==========================================================================
        LARGE SCREEN
========================================================================== */
