/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */
.slider-block {
  margin-bottom: 15px;
}

.underHeader-contact-informations {
  margin-bottom: 20px;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */
@media print, screen and (min-width: 40em) {
  .underHeader-contact-informations {
    margin-bottom: 0;
  }
}
/* ==========================================================================
        LARGE SCREEN
========================================================================== */
