@import url("https://fonts.googleapis.com/css?family=Roboto|Arsenal|PT+Serif");
/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */
.off-canvas {
  background-color: #2C3840;
  padding: 15px 0;
  max-height: 100%;
  overflow-y: auto;
}
.off-canvas .off-canvas__title {
  font-family: "PT Serif", Helvetica, Arial, sans-serif;
  color: #00719A;
  font-size: 2.3rem;
  font-weight: 900;
}
.off-canvas li {
  padding: 0 15px;
  list-style-type: none;
}
.off-canvas a {
  color: #FFF;
  font-weight: 600;
  opacity: .75;
  font-size: 1.125rem;
  line-height: 38px;
}

.title-bar {
  background-color: #2C3840;
}
.title-bar .title-bar__icon {
  color: #AAAFB2;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */
/* ==========================================================================
        LARGE SCREEN
========================================================================== */
