// Colors
$particulier-font-color: #002F6C;
$professionnels-font-color: #339575;
$entreprise-font-color: #F5BA33;
$patrimoine-font-color: #D8335F;

// Header
// C100M65J0N15 -> #004CD9
$header-background-color: #EFEFEF;
$header-font-color: #004C92;

// Footer
$footer-font-color-social-bg: #a1a3a4;
$footer-font-color-social-icon: #54585a;

$footer-background-color: #54585a;
$footer-font-color: #a1a3a4;