// Colors
/*$particulier:  #0b00e6;
$professionnels: #ce0037;
$entreprise: #004f24;
$patrimoine: #3b038a;*/
$particulier: #113388;
$professionnels: #07C5AB;
$entreprise: #F9A912;
$patrimoine: #EF634C;

// Header
// C100M65J0N15 -> #004CD9
$background-color-header: #FFFFFF;

// Footer
$font-color-social-bg: #707070;
$font-color-social-icon: #333333;
$background-color-footer: #76797b;