
$font-size-icon : 1.5rem;

/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */

// GOOGLE MAP STILL
#map {
  height: 550px;
  width: 100%;
}

address{
  font-style: normal;
}

h3 {
  text-transform: uppercase;
  .fa-stack{
    font-size : $font-size-icon;
  }
}

h4 {
  .fa-stack {
    font-size : $font-size-icon;
  }
}

.informations{
  padding-left: 54px;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */

@media print, screen and (min-width: 40em) {
}

/* ==========================================================================
        LARGE SCREEN
========================================================================== */

@media print, screen and (min-width: 64em) {
}