@import url('https://fonts.googleapis.com/css?family=Roboto|Arsenal|PT+Serif');
@import "variables";

/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */

body {
  font-family: "Roboto", "Arsenal", Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
  background-color: $body-background-color;
  color: $default-font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif","Roboto", "Arsenal", Arial, sans-serif !important;
  text-align: center;
}

.page-title {
  h1 {
    font-size: 2.5rem;
    padding-bottom: 20px;

    span{
      border-bottom: 2px solid $bleu-foundation;
    }
  }
}

.fa-padding {
  padding-right: 10px !important;
}

.main-title {
  margin: 13px 0;
}

.content {
  background-color: $content-background-color;
  padding: 15px 0;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */

@media print, screen and (min-width: 40em) {
  .main-title {
    margin: 0 0 13px 0;
  }
}

/* ==========================================================================
        LARGE SCREEN
========================================================================== */

@media print, screen and (min-width: 64em) {
}