@import "variables";

/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */

body {
  font-family: "Roboto", "Arsenal", Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
  background-color: $body-background-color;
  color: $default-font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", "Roboto", "Arsenal", Arial, sans-serif !important;
}

.page-title {
  h1 {
    font-size: 2.5rem;
    padding-bottom: 20px;
    text-align: center;

    span {
      border-bottom: 2px solid $bleu-foundation;
    }
  }
}

.fa-padding {
  padding-right: 10px !important;
}

.main-title {
  margin: 13px 0;
}

.content {
  background-color: $content-background-color;
  padding: 15px 0.625rem;
}

// Card present in assurance particuliers, pro, etc

.card {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-perspective: 5000;
  perspective: 5000;
}

img.thumbnail {
  margin-bottom: 0;
}

.card .container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card .container .front,
.card .container .back {
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .container .front .row,
.card .container .front .column,
.card .container .front .columns,
.card .container .back .row,
.card .container .back .column,
.card .container .back .columns {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .container .front {
  z-index: 2;
}

.card .container .back {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .container:hover {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}

.card .container {
  border: solid 1px #EEEEEE;
}

.card .container .back {
  padding: 1em;
}

.card.square .container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */

@media print, screen and (min-width: 40em) {
  .main-title {
    margin: 0 0 13px 0;
  }

  .content {
    padding: 15px 0.9375rem;
  }
}

/* ==========================================================================
        LARGE SCREEN
========================================================================== */

@media print, screen and (min-width: 64em) {
}