@import url('https://fonts.googleapis.com/css?family=Roboto|Arsenal|PT+Serif');
@import "variables";


/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */

body {
  font-family: "Roboto", "Arsenal", Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
  background-color: #e4e4e4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Arsenal", Arial, sans-serif !important;
}

.content{
  background-color: #F2F2F2;
  padding: 15px 0;
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */

@media print, screen and (min-width: 40em) {

}

/* ==========================================================================
        LARGE SCREEN
========================================================================== */

@media print, screen and (min-width: 64em) {
}