@import "variables";

/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */

footer {
  text-align: center;
  background: $footer-background-color;
  padding: 24px 10px;
  margin-top: 30px;

  .copyright {
    font-size: 0.75rem;
    color: $footer-font-color;
    margin: 6px 0 0;
  }

  .footer__social-links {
    float: none;
    display: inline-block;
    margin: 10px 0;

    li {
      list-style: none;
      float: left;
      margin-left: 10px;

      a {
        color: $footer-font-color-social-bg;

        .fa-inverse {
          color: $footer-font-color-social-icon;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .footer__vha-links {
    display: inline-block;
    padding-bottom: 0;
    margin: 10px 0 0 0;

    li {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.75rem;
      margin-bottom: 15px;

      a {
        color: $footer-font-color;
        padding: 3px 6px;

        &:hover {
          color: #777;
        }
      }
    }
  }

  .footer__phoneNumber {
    color: $footer-font-color;
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    height: 35px !important;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;

    li {
      list-style: none;
      margin-left: 10px;

      a {
        color: $footer-font-color-social-bg;

        .fa-inverse {
          color: $footer-font-color-social-icon;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */

@media print, screen and (min-width: 40em) {
  footer {
    text-align: left;
    padding: 24px;

    .footer__social-links {
      display: block;
      float: right;
      margin-bottom: 8px;

      li {
        a {
          font-size: 1.2rem;
        }
      }
    }

    .footer__vha-links {

      li {
        display: block;
        float: left;
        margin-left: 6px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.75rem;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .footer__phoneNumber {
      border-top: none;
      border-bottom: none;
      border-left: solid 1px rgba(255, 255, 255, 0.2);
      border-right: solid 1px rgba(255, 255, 255, 0.2);
      margin-right: auto;
      display: block;

      li {
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}

/* ==========================================================================
        LARGE SCREEN
========================================================================== */

@media print, screen and (min-width: 64em) {
}