@import "variables";

/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */

.header {
  text-align: center;
  background: $background-color-header;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 1.5rem;
  padding-bottom: 1.9rem;

  .headline {
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    font-size: 3.5rem;
    color: #004CD9;
    line-height: 1;

    small {
      font-size: 55%;
    }
  }

  .headline-main {
    display: block;
  }
}

.underHeader-contact-informations {
  margin-bottom: 30px;
  padding: 7px 0 !important;
  font-size: 80%;
  color: #EEF5F3;
  background: $background-color-footer;

  a {
    color: #004CD9;
    &:hover {
      text-decoration: dotted;
    }
  }
}

.assuranceBarreCouleur {
  width: 80px;
  height: 6px;
  margin-left: auto;
  margin-right: auto;
  display: block;

  &.assuranceParticuliersBarreSoulignement {
    background-color: cadetblue;
  }
  &.assuranceProfessionnelsBarreSoulignement {
    background-color: #A0000D;
  }
  &.assuranceEntreprisesBarreSoulignement {
    background-color: #59A017;
  }
  &.assurancePatrimoineBarreSoulignement {
    background-color: #A09411;
  }
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */

@media print, screen and (min-width: 40em) {
  .header {
    padding-bottom: 3.9rem;

    .header-subnav {
      float: none;
      position: absolute;
      text-align: center;
      margin: 0 auto;
      bottom: 0;
      width: 100%;

      li {
        float: none;
        display: inline-block;

        a {
          padding: 0.9rem 0.33rem;
          font-size: 0.75rem;
          color: #004CD9;
          text-transform: uppercase;
          display: block;
          font-weight: bold;
          letter-spacing: 1px;
          transition: all 0.35s ease-in-out;

          &.is-active {
            background: rgba(250, 250, 250, 0.15);
          }

          &:hover {
            background: rgba(250, 250, 250, 0.15);
            transition: all 0.35s ease-in-out;
          }
        }
      }
    }
  }
}

/* ==========================================================================
        LARGE SCREEN
========================================================================== */

@media print, screen and (min-width: 64em) {
  .header {
    padding-bottom: 4.9rem;

    .header-subnav {
      li {
        a { padding: 0.9rem 1rem; }
      }
    }
  }
}