@import "variables";

/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */

.header {
  text-align: center;
  background: $header-background-color;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 1.5rem;
  padding-bottom: 1rem;

  .headline {
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    font-size: 1.9rem;
    color: $header-font-color;
    line-height: 1;

    small {
      font-family: "Roboto", Arial, sans-serif;
      font-style: italic;
      font-size: 48%;
      color: #637D8E;
    }
  }

  .headline-main {
    display: block;
  }
}

.underHeader-contact-informations {
  margin-bottom: 15px;
  padding: 7px 0 !important;
  font-size: 90%;
  color: $assurance-pages-link-color;
  background: $footer-background-color;

  a {
    color: $assurance-pages-link-color;
    &:hover {
      text-decoration: dotted;
    }
  }

  .particulier {
    color: $particulier-font-color;
  }

  .professionnels {
    color: $professionnels-font-color;
  }

  .entreprise {
    color: $entreprise-font-color;
    margin-top: 7px;
  }

  .patrimoine {
    color: $patrimoine-font-color;
    margin-top: 7px;
  }
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */

@media print, screen and (min-width: 40em) {
  .header {
    padding-bottom: 3.9rem;

    .headline {
      font-size: 2.9rem;
    }

    .header-subnav {
      float: none;
      position: absolute;
      text-align: center;
      margin: 0 auto;
      bottom: 0;
      width: 100%;

      li {
        float: none;
        display: inline-block;

        a {
          padding: 0.9rem 0.33rem !important;
          font-size: 1rem !important;
          color: $header-font-color;
          text-transform: uppercase;
          display: block;
          font-weight: bold;
          letter-spacing: 1px;
          transition: all 0.35s ease-in-out;

          &.is-active {
            background: rgba(0, 76, 147, 0.15);
          }

          &:hover {
            background: rgba(0, 76, 147, 0.15);
            transition: all 0.35s ease-in-out;
          }
        }
      }
    }
  }

  .underHeader-contact-informations {
    margin-bottom: 30px;

    .entreprise {
      margin: 0;
    }
    .patrimoine {
      margin: 0;
    }
  }
}

/* ==========================================================================
        LARGE SCREEN
========================================================================== */

@media print, screen and (min-width: 64em) {
  .header {
    padding-bottom: 4.9rem;

    .header-subnav {
      li {
        a { padding: 0.9rem 1rem; }
      }
    }
  }
}