@import "variables";

/* ==========================================================================
        DEFAULT - SMALL SCREEN
========================================================================== */

.header {
  text-align: center;
  background: $header-background-color;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 1.5rem;
  padding-bottom: 1.9rem;

  .headline {
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    font-size: 1.9rem;
    color: #FFE;  /* couleur VERSMEE  c100m57j0n49 */
    line-height: 1;

    small {
      font-size: 50%;
    }
  }

  .headline-main {
    display: block;
  }
}

.underHeader-contact-informations {
  margin-bottom: 30px;
  padding: 7px 0 !important;
  font-size: 90%;
  color: #EEF5F3;
  background: $footer-background-color;

  a {
    color: #004CD9;
    &:hover {
      text-decoration: dotted;
    }
  }

  .particulier{
    color: $particulier-font-color;
  }

  .professionnels{
    color: $professionnels-font-color;
  }

  .entreprise{
    color: $entreprise-font-color;
  }

  .patrimoine{
    color: $patrimoine-font-color;
  }
}

/* ==========================================================================
        MEDIUM SCREEN
========================================================================== */

@media print, screen and (min-width: 40em) {
  .header {
    padding-bottom: 3.9rem;

    .headline {
      font-size: 2.9rem;
    }

    .header-subnav {
      float: none;
      position: absolute;
      text-align: center;
      margin: 0 auto;
      bottom: 0;
      width: 100%;

      li {
        float: none;
        display: inline-block;

        a {
          padding: 0.9rem 0.33rem;
          font-size: 1rem;
          color: #FFE;
          text-transform: uppercase;
          display: block;
          font-weight: bold;
          letter-spacing: 1px;
          transition: all 0.35s ease-in-out;

          &.is-active {
            background: rgba(250, 250, 250, 0.15);
          }

          &:hover {
            background: rgba(250, 250, 250, 0.15);
            transition: all 0.35s ease-in-out;
          }
        }
      }
    }
  }

  .barreSoulignement {
    width: 80px;
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    &.particuliersBarreSoulignementCouleur {
      background-color: $particulier-font-color;
    }
    &.professionnelsBarreSoulignementCouleur {
      background-color: $professionnels-font-color;
    }
    &.entreprisesBarreSoulignementCouleur {
      background-color: $entreprise-font-color;
    }
    &.patrimoineBarreSoulignementCouleur {
      background-color: $patrimoine-font-color;
    }
  }
}

/* ==========================================================================
        LARGE SCREEN
========================================================================== */

@media print, screen and (min-width: 64em) {
  .header {
    padding-bottom: 4.9rem;

    .header-subnav {
      li {
        a { padding: 0.9rem 1rem; }
      }
    }
  }
}